<h1>Search for music</h1>
<%= form_tag "/search", :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  </p>
<% end %> 

<br />

<h1><Search results></h1>
<table>
  <% if @response != nil %>
    <% data = @response["Tracks"] %>
      <% data.each do |item| %>
      <tr><%= item["Title"] %></tr><br>
      <tr><%= item["Artist"]["Name"] %></tr><br>
      <tr><%= item["SampleLocations"][0]["Location"] %></tr><br>  
      <td><%= link_to 'Sample', item %></td>
      <td><%= link_to 'Add', item %></td>  
      <hr />    
    <% end %>    
  <% end %>    
</table>

    
    <!-- #add_to_favorites
          #if track_exists?(:MnetId)
           #add_to_current_user_mixtape(:id)
          #else
           # create_track(:MnetId)
          #end
         -->
        

